@import "bootstrap";


:root{
    --primaryColor: #0a0908;
    --secondaryColor: #c6ac8f;
    --thirdColor: #22333b;
    --fourthColor: #5e503f;
    --textColor: #eae0d5;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    border:none;
    list-style: none;
}


body {
    background-color: var(--primaryColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:  5.5rem;
    color:var(--textColor);
}
section {
    padding: 5rem 0;
}
.section-title {
    padding-bottom: 4rem;
    position: relative;
}
.sub-title {
    color: var(--secondaryColor);
    font-size: 11px;;
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.btn-primary, btn-outline {
    background-color: var(--fourthColor) !important;

}


#main-nav{
    background-color: var(--primaryColor)!important;
    border-bottom: 1px solid black;
}
#main-nav .nav-item .nav-link {
    position: relative;
    color: var(--textColor);
}
#main-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--secondaryColor);
    bottom: -5px;
    left: 0;
    transition: ease .40s ;
    -webkit-transition:  ease .40s;
    -moz-transition: ease .40s;
    -o-transition: ease .40s;

}
#main-nav .nav-item:not(:last-child) .nav-link:hover::after {
    width: 100%;   
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* HERO SECTION */
#hero {
    background-position: center right;
    background-size: cover;
}
#hero .social a {
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}
#hero .social a:hover {
    color: var(--textColor);
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
#hero h1 #typer {
    color: var(--secondaryColor)
}
#cont-logo {
    color: var(--fourthColor);
}
/* About Section */
.exp {
    background-color: var(--thirdColor);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 30px rgba(22, 22, 22, 0.15);

}

.exp-number {
    margin-top: 20px;
    margin-bottom: -3px;
}
/* Skill Section */
.skill {
    background:black;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
}
.skill:hover{
    transform: scale(1.20) rotate(7deg);
    -webkit-transform: scale(1.20) rotate(7deg);
    -moz-transform: scale(1.20) rotate(7deg);
    -ms-transform: scale(1.20) rotate(7deg);
    -o-transform: scale(1.20) rotate(7deg);
    box-shadow: 0px 10px 25px 10px var(--secondaryColor);
}
.progress-bar {
    color: var(--textColor);
    background-color: var(--fourthColor);
}
/* Services Section */
.service-box{
    transition: all .40s;
    -webkit-transition: all .40s;
    -moz-transition: all .40s;
    -ms-transition: all .40s;
    -o-transition: all .40s;

}
.service-box:hover{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 25px 0;

}
.ser-logo {
    color: var(--fourthColor);
}
/* PORTFOLIO SECTION */
#portfolio img {
    width:100%;
    height:350px;
    cursor: pointer;
    border-radius: 7px;
    object-fit: cover;
}
#gallery-modal .modal-img{
    width:100%;

}
/* CONTACT SECTION */
.contact-bg{
    background-color: var(--secondaryColor);
    height: 70vh;
    padding: 50px;
}
form input, textarea {
    color: var(--textColor)!important;
    background-color: var(--primaryColor)!important;
    border: 3px solid darkslategray;
}
.form-control::placeholder{
    color:gainsboro
}

@media screen and (max-width:974px){
    
}